@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Josefin Sans", serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
}

.navigation-panel {
    background-color: #1f1f1f;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    opacity: 0;
}

#menu {
    height: 30px;
    width: 30px;
}

#menu-black {
    height: 30px;
    width: 30px;
    display: none;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-text h4 {
    font-size: 30px;
    letter-spacing: 5px;
}

.container-elements {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    font-size: 18px;
    line-height: 28px;
    height: calc(100% - 44px);
}

.container-elements a {
    color: #bbb;
}

.container-elements a:hover {
    color: white;
}

.animationIn {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: calc(.4s * var(--i));
}

.first-block {
    /* margin: 10px 0 10px 10px; */
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    height: 100%;
    gap: 20px;
}

.about-me {
    padding: 10px;
    width: 100%;
    /* margin: 10px 0 10px 10px; */
    justify-content: space-between;
    border: 2px solid #add8ff;
    background-color: #282828;
}

.about-me img {
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px 20px 0 0;
}

.about-me h2 {
    margin: 10px;
}

.details {
    /* margin: 10px 0 10px 10px; */
    padding: 10px;
    width: 100%;
    border: 2px solid #ffaad0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 48px);
    overflow: hidden;
    background-color: #282828;
}

.details h2 {
    margin: 10px;
    border-bottom: 2px solid #fff;
}

.details-content {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    width: 100%;
    /* border: 0.4px solid #fff; */
}

.details-content span {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.left {
    text-align: end;
}

.mid {
    text-align: center;
}

.right {
    text-align: start;
    justify-content: space-between;
}

.second-block {
    /* margin: 10px; */
    margin: 0 5px 0 0;
    padding: 10px;
    /* height: 100%; */
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    /* overflow: hidden; */
}

.education {
    /* margin: 10px 10px 10px 0; */
    padding: 10px;
    border: 2px solid #aaffaa;
    width: 100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #282828;
    overflow: hidden;
}

.education h2 {
    margin: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}

.education-contents {
    overflow-y: auto;
    border: 2px solid #aaffaa;
    opacity: 0;
    animation: slideUp 1s ease forwards;
    animation-delay: 1.4s;
    width: 100%;
}

.education-contents::-webkit-scrollbar {
    width: 3px;
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid #aaffaa;
    border-right: none;
    border-left: none;
    width: 100%;
    padding: 10px;
}

.degree {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* margin: 10px; */
}

.year, .status {
    text-align: end;
}

.experience {
    /* margin: 10px 10px 10px 0; */
    margin: 0 0 5px 0;
    padding: 10px;
    border: 2px solid #ffaaff;
    width: 100%;
    max-height: 282px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* display: none; */
    background-color: #282828;
    overflow: hidden;
}

.experience h2 {
    margin: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.4s;
}

.experience-contents {
    overflow-y: auto;
    border: 1px solid #ffaaff;
    /* height: 210px; */ 
    width: 100%;
    opacity: 0;
    animation: slideUp 1s ease forwards;
    animation-delay: 1.8s;
}

.experience1 {
    width: 100%;
}

.experience-contents table, .experience-contents tr, .experience-contents td {
    border-collapse: collapse;
    border: 1px solid #ffaaff;
    border-right: none;
    border-left: none;
    width: 100%;
    padding: 10px;
}

.experience-contents::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 20px;
    border: none;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 3px solid #bbb;
}

.slideDown {
    animation: slideDown 1s ease forwards;
}

.slideLeft {
    animation: slideLeft 1s ease forwards;
}

.fadeIn {
    animation: fadeIn 1s ease forwards;
}

.rotate90 {
    animation: rotate90 1s ease forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate90 {
    0% {
        rotate: 90deg;
        opacity: 0;
    }
    100% {
        rotate: 0deg;
        opacity: 1;
    }
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-track {
        background: #ddd;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #ddd;
        border-radius: 20px;
        border: 3px solid #555;
    }

    .container {
        color: black;
        background-color: #efefef;
    }

    .navigation-panel {
        background-color: #efefef;
    }

    #menu {
        display: none;
    }

    #menu-black {
        display: block;
    }

    .nav-text {
        color: black;
    }

    .container-elements a {
        color: #555;
    }

    .container-elements a:hover {
        color: black;
    }

    .about-me {
        background-color: #d8d8d8;
    }

    .details {
        background-color: #d8d8d8;
    }

    .details h2 {
        border-bottom: 2px solid #000;
    }

    .education {
        background-color: #d8d8d8;
    }
 
    .education-contents {
        border: 1px solid black;
    }
    
    table, tr, td {
        border: 1px solid black;
        border-right: none;
        border-left: none;
    }

    .experience {
        background-color: #d8d8d8;
    }

    .experience-contents {
        border: 1px solid black;
    }

    .experience-contents table, .experience-contents tr, .experience-contents td {
        border: 1px solid black;
        border-right: none;
        border-left: none;
    }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .container {
        overflow-y: auto;
        height: auto;
    }

    #menu, #menu-black {
        height: 25px;
        width: 25px;
    }

    .nav-text h4 {
        font-size: 25px;
    }

    .container-elements {
        grid-template-columns: 1fr;
        margin: 20px 30px 20px 20px;
        font-size: 16px;
        line-height: 22px;
        gap: 0px;
    }

    .first-block {
        margin: 0 10px 0 0 ;
    }

    .about-me img {
        margin: 10px 10px 0px 0;
        height: 180px;
        width: 180px;
    }

    .second-block {
        margin: 0 10px 0 0 ;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .container {
        overflow-y: auto;
        height: auto;
    }

    #menu, #menu-black {
        height: 25px;
        width: 25px;
    }

    .nav-text h4 {
        font-size: 25px;
    }

    .container-elements{
        grid-template-columns: 1fr;
        margin: 20px 30px 20px 20px ;
        gap: 0px;
    }

    .about-me img {
        margin: 10px 10px 0 0;
    }

    .second-block{
        margin: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {

    .container {
        overflow-y: auto;
        height: auto;
    }

    #menu, #menu-black {
        height: 35px;
        width: 35px;
    }

    .nav-text h4 {
        font-size: 35px;
    }

    .container-elements {
        grid-template-columns: 1fr;
        font-size: 24px;
        line-height: 34px;
        margin: 20px 30px 20px 20px;
        gap: 0px;
    }

    .about-me img {
        height: 235px;
        width: 235px;
    }

    .second-block {
        margin: 0;
    }

}

@media only screen and (min-width: 800px) and (max-width: 992px) {

    .container {
        height: auto;
        overflow-y: auto;
    }
    
    #menu, #menu-black {
        height: 35px;
        width: 35px;
    }

    .nav-text h4 {
        font-size: 35px;
    }

    .container-elements {
        font-size: 24px;
        line-height: 34px;
        grid-template-columns: 1fr;
        margin: 20px 40px 20px 20px ;
        gap: 0px;
    }

    .about-me h2 {
        margin: 20px 10px 10px 10px;
    }

    .about-me img {
        height: 240px;
        width: 240px;
    }

    .details h2 {
        margin: 20px;
    }

    .details-content {
        margin: 0 20px 20px 20px;
    }

    .second-block {
        margin: 0;
    }

    .education {
        max-height: 325px;
    }

    .education h2 {
        margin: 10px 10px 20px 10px;
    }

    .experience {
        max-height: 300px;
    }

    .experience h2 {
        margin: 10px 10px 20px 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) and (max-height: 1000px){
    .container {
        overflow-y: auto;
    }

    .education {
        max-height: none;
        justify-content: center;
    }

    .education-contents {
        min-height: 300px;
        max-height: calc(50vh - 160px);
    }
    
    .experience {
        max-height: none;
        justify-content: center;
    }

    .experience-contents {
        min-height: 275px;
        max-height: calc(50vh - 140px);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) and (min-height: 1000px) and (max-height: 1200px){

    .container-elements {
        font-size: 22px;
        line-height: 32px;
    }

    .education {
        max-height: none;
        justify-content: center;
    }

    .education-contents{
        max-height: calc(50vh - 160px);
    }

    .experience {
        max-height: none;
        justify-content: center;
    }

    .experience-contents {
        max-height: calc(50vh - 160px);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) and (min-height: 1200px) {

    #menu, #menu-black {
        height: 40px;
        width: 40px;
    }

    .nav-text h4 {
        font-size: 40px;
    }

    .container-elements {
        font-size: 24px;
        line-height: 34px;
    }

    .second-block {
        grid-template-rows: 1fr 1fr;
    }

    .education {
        max-height: none;
        justify-content: center
    }

    .education h2 {
        margin: 20px;
    }

    .education-contents {
        min-height: 300px;
        max-height: calc(50vh - 180px);
    }

    .experience {
        max-height: none;
        justify-content: center;
    }

    .experience h2 {
        margin: 20px;
    }

    .experience-contents {
        min-height: 150px;
        max-height: calc(50vh - 180px);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) and (min-height: 700px) {

    .container-elements {
        font-size: 20px;
    }

    .education {
        max-height: none;
        justify-content: center;
    }

    .education-contents {
        min-height: 300px;
        max-height: calc(50vh - 160px);
    }
    
    .experience {
        max-height: none;
        justify-content: center;
    }

    .experience-contents {
        min-height: 282px;
        max-height: calc(50vh - 160px);
    }
}

@media only screen and (min-width:1400px) and (max-width: 2000px) {

    .container {
        overflow-y: hidden;
    }

    .education {
        max-height: none;
    }

    .education-contents {
        min-height: 260px;
        max-height: calc(50vh - 160px);
    }
    
    .experience {
        max-height: none;
        justify-content: center;
    }
    
    .experience-contents {
        min-height: 230px;
        max-height: calc(50vh - 160px);
    }
}

@media only screen and (min-width:2000px) {
    #menu, #menu-black {
        height: 45px;
        width: 45px;
    }

    .nav-text h4 {
        font-size: 45px;
    }

    .container-elements {
        font-size: 28px;
        line-height: 38px;
    }
    
    .about-me h2 {
        margin: 20px
    }

    .about-me img {
        height: 250px;
        width: 250px;
    }

    .details h2 {
        margin: 20px;
    }

    .details-content {
        margin: 0 10px 10px 10px;
    }

    .second-block {
        grid-template-rows: 1fr 1fr;
    }

    .education {
        justify-content: center;
        max-height: none;
    }

    .education-contents {
        min-height: 300px;
        max-height: calc(50vh - 160px);
    }

    .experience {
        max-height: none;
        justify-content: center;
    }

    .experience-contents {
        min-height: 300px;
        max-height: calc(50vh - 160px);
    }
}

@media only screen and (max-width: 1400px) and (max-height: 775px) {
    .container {
        overflow-y: auto;
    }
}

@media only screen and (min-width: 1400px) and (max-height: 765px) {
    .container {
        overflow-y: auto;
    }
}

@media only screen and (min-width: 2000px) and (max-height: 910px) {
    .container {
        overflow-y: auto;
    }
}