@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Josefin Sans", serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
}

.navigation-panel {
    background-color: #1f1f1f;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    opacity: 0;
}

#menu {
    height: 30px;
    width: 30px;
}

#menu-black {
    height: 30px;
    width: 30px;
    display: none;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-text h4 {
    font-size: 30px;
    letter-spacing: 5px;
}

.container-elements {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    font-size: 18px;
    line-height: 28px;
    height: calc(100% - 40px);
}

.container-elements a {
    color: #bbb;
}

.container-elements a:hover {
    color: white;
}

.animationIn {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: calc(.4s * var(--i));
}

.first-block {
    /* margin: 10px 0 10px 10px; */
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    height: 100%;
    gap: 20px;
}

.about-me {
    padding: 10px;
    width: 100%;
    /* margin: 10px 0 10px 10px; */
    justify-content: space-between;
    border: 1px solid #add8ff;
    background-color: #282828;
}

.about-me img {
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px 20px 0 0;
}

.about-me h2 {
    margin: 10px;
}

.details {
    /* margin: 10px 0 10px 10px; */
    padding: 10px;
    width: 100%;
    border: 1px solid #ffaad0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 40px);
    overflow: hidden;
    background-color: #282828;
}

.details h2 {
    margin: 10px;
    border-bottom: 2px solid #fff;
}

.details-content {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    width: 100%;
    /* border: 0.4px solid #fff; */
}

.details-content span {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.left {
    text-align: end;
}

.mid {
    text-align: center;
}

.right {
    text-align: start;
    justify-content: space-between;
}

.second-block {
    /* margin: 10px; */
    margin: 0 5px 0 0;
    padding: 10px;
    /* height: 100%; */
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    /* overflow: hidden; */
}

.education {
    /* margin: 10px 10px 10px 0; */
    padding: 10px;
    border: 1px solid #aaffaa;
    width: 100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #282828;
    overflow: hidden;
}

.education h2 {
    margin: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}

.education-contents {
    overflow-y: auto;
    border: 1px solid #aaffaa;
    opacity: 0;
    animation: slideUp 1s ease forwards;
    animation-delay: 1.4s;
}

.education-contents::-webkit-scrollbar {
    width: 3px;
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid #aaffaa;
    border-right: none;
    border-left: none;
    width: 100%;
    padding: 10px;
}

.degree {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* margin: 10px; */
}

.year, .status {
    text-align: end;
}

.experience {
    /* margin: 10px 10px 10px 0; */
    padding: 10px;
    border: 1px solid #ffaaff;
    width: 100%;
    max-height: 282px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* display: none; */
    background-color: #282828;
    overflow: hidden;
}

.experience h2 {
    margin: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.4s;
}

.experience-contents {
    overflow-y: auto;
    border: 1px solid #ffaaff;
    /* height: 210px; */ 
    width: 100%;
    opacity: 0;
    animation: slideUp 1s ease forwards;
    animation-delay: 1.8s;
}

.experience1 {
    width: 100%;
}

.experience-contents table, .experience-contents tr, .experience-contents td {
    border-collapse: collapse;
    border: 1px solid #ffaaff;
    border-right: none;
    border-left: none;
    width: 100%;
    padding: 10px;
}

.experience-contents::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 20px;
    border: none;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 3px solid #bbb;
}

.slideDown {
    animation: slideDown 1s ease forwards;
}

.slideLeft {
    animation: slideLeft 1s ease forwards;
}

.fadeIn {
    animation: fadeIn 1s ease forwards;
}

.rotate90 {
    animation: rotate90 1s ease forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate90 {
    0% {
        rotate: 90deg;
        opacity: 0;
    }
    100% {
        rotate: 0deg;
        opacity: 1;
    }
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-track {
        background: #ddd;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #ddd;
        border-radius: 20px;
        border: 3px solid #555;
    }
}