*{
    margin: 0;
    padding: 0;
    border: none;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
}

.navigation-panel {
    background-color: #1f1f1f;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
}

#menu {
    height: 30px;
    width: 30px;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-text h4 {
    font-size: 30px;
    letter-spacing: 5px;
}

.container-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}