@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Josefin Sans", serif;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 20px;
    border: none;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
    border-radius: 20px;
    border: 3px solid #bbb;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #1f1f1f;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
}

.navigation-panel {
    background-color: #1f1f1f;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    opacity: 0;
}

#menu {
    height: 30px;
    width: 30px;
}

#menu-black {
    height: 30px;
    width: 30px;
    display: none;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-text h4 {
    font-size: 30px;
    letter-spacing: 5px;
}

.container-elements {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

.dropdown {
    display: flex;
    position: relative;
    margin: 0 20px 0 20px;
}

.sort {
    display: flex;
    justify-content: end;
    width: 100%;
}

.selected {
    cursor: pointer;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border: 1px solid rgb(255, 255, 255, 0.2);
    animation: fadeIn 1.5s ease forwards;
}

.selected:hover{
    .arrow {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
    }
    .order {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
    }
}

.dropdown-list {
    background-color: #1f1f1f;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    z-index: 100;
    display: none;
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}

.dropdown-list li {
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1px solid rgb(255, 255, 255, 0.2);
}

.dropdown-list li:hover {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1));
}

.show {
    display: block;
}

.projects {
    overflow-y: auto;
    /* max-height: calc(100vh - 100px); */
    display:  grid;
    grid-template-columns:  repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    margin: 10px;
}

.projects-elements {
    margin: 10px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    opacity: 0;
    animation: scaleUpXY 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.projects-elements img {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

.project-name {
    font-size: 20px;
    margin: 10px;
}

.projects-elements p {
    font-weight: 200;
    margin: 10px;
    line-height: 20px;
}

.hover-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #222;
    border-radius: 20px;
}

.hover-div a {
    text-decoration: none;
}

.hover-button {
    background-color: white;
    color: black;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.show-hover {
    opacity: 1;
}

.slideDown {
    animation: slideDown 1s ease forwards;
}

.fadeIn {
    animation: fadeIn 1s ease forwards;
}

.fadeInO9 {
    animation: fadeIn9 0.3s ease forwards;
}

.fadeOut {
    animation: fadeOut 1s ease forwards;
}

.fadeOut7 {
    animation: fadeOut 0.7s ease forwards;
}

.fadeOutO9 {
    animation: fadeOut9 0.3s ease forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn9 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut9 {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scaleUpXY {
    from { 
        opacity: 0;
        scale: 0.4;
        transform: translateX(-150px) translateY(-150px);
        /* transform: translateY(-150px); */
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
        transform: translateY(0px);
    }
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-track {
        background: #ddd;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #ddd;
        border-radius: 20px;
        border: 3px solid #555;
    }

    .container {
        color: black;
        background-color: #efefef;
    }

    .navigation-panel {
        background-color: #efefef;
    }

    #menu {
        display: none;
    }

    #menu-black {
        display: block;
    }

    .nav-text {
        color: black;
    }

    .selected {
        background-color: #efefef;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    .selected:hover {
        .arrow {
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
        } 
        .order {
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
        }
    }

    .dropdown-list {
        background-color: #efefef;
    }
    
    .dropdown-list li {
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    .dropdown-list li:hover {
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 1));
    }

    .projects-elements {
        background-color: #e0e0e0;
    }

    .hover-div {
        background-color: #bbb;
    }

    .hover-button {
        background-color: black;
        color: white;
    }

    @keyframes fadeIn9 {
        from {
            opacity: 0;
        }
        to {
            opacity: 0.8;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {

    #menu, #menu-black {
        height: 20px;
        width: 20px;
    }

    .nav-text h4 {
        font-size: 20px;
    }

    .container-elements {
        font-size: 12px;
    }

    .projects {
    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
    }

    .projects-elements p {
        font-size: 14px;
    }

    :not(.projects-elements:nth-child(1), .projects-elements:nth-child(2)) {
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

    #menu {
        height: 25px;
        width: 25px;
    }

    #menu-black {
        height: 25px;
        width: 25px;
    }

    .nav-text h4 {
        font-size: 25px;
    }

    .projects-elements p {
        font-size: 14px;
    }

    :not(.projects-elements:nth-child(1), .projects-elements:nth-child(2)) {
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }

}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    #menu, #menu-black {
        width: 35px;
        height: 35px;
    }

    .nav-text h4 {
        font-size: 35px;
    }

    .container-elements {
        font-size: 18px;
    }

    .selected {
        width: 120px;
    }

    .dropdown-list li {
        width: 120px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 992px) {
    #menu, #menu-black {
        height: 35px;
        width: 35px;
    }

    .nav-text h4 {
        font-size: 35px;
    }

    .container-elements {
        font-size: 18px;
    }

    .selected {
        width: 120px;
    }

    .dropdown-list li {
        width: 120px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #menu, #menu-black {
        height: 35px;
        width: 35px;
    }

    .nav-text h4 {
        font-size: 35px;
    }

    .container-elements {
        font-size: 20px;
    }

    .selected {
        width: 140px;
    }

    .dropdown-list li {
        width: 140px;
    }

    .project-name {
        font-size: 24px;
    }

    .projects-elements p {
        line-height: 24px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) and (max-height: 600px) {
    #menu, #menu-black {
        height: 25px;
        width: 25px;
    }

    .nav-text h4 {
        font-size: 25px;
    }

    .container-elements {
        font-size: 14px;
    }

    .projects {
        margin: 15px;
    }

}

@media only screen and (min-width: 1200px) {
    .projects {
        margin: 20px;
    }
}